<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untilted.txt | Preferences</title>
    <link rel="icon" href="Untilted_logo.ico">

    <link rel="stylesheet" href="/user-preferences/user-preferences.css">
    <link rel="stylesheet" href="/user-preferences/responsive.css">
    <link rel="stylesheet" href="/user-preferences/overlays.css">
    <link rel="stylesheet" href="/user-preferences/variables.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <a href="/home" class="QUIT"><i class='bx bx-left-arrow-circle'></i></a>
        <div class="preferences">
            <h1 class="UserName"><%= name %></h1>
            <div class="profile">
                <button class="change_profil_img">
                    <div class="pp">
                        <p class="pp-status"><%= pp_status %></p>
                        <img src="profil-default.png" alt="profile" class="pp_img">
                    </div>
                    <div class="change_photo_overlay">
                        <i class='bx bxs-camera-plus'></i>
                    </div>
                </button>
            </div>
            <hr>
            <div class="other_pref">
                <form action="/update-preferences" method="POST">
                    <div class="one_pref">
                        <div class="now">
                            <h3>Username :</h3>
                            <p><%= name %></p>
                        </div>
                        <input type="text" name="username" class="all-input" value=<%= name %>>
                    </div>
                    <div class="one_pref">
                        <div class="now">
                            <h3>Email :</h3>
                            <p><%= email %></p>
                        </div>
                        <input type="email" name="email" class="all-input" value=<%= email %>>
                    </div>
                    <div class="one_pref">
                        <div class="now">
                            <h3>Birthday :</h3>
                            <p><%= birthday %></p>
                        </div>
                        <input type="date" name="birthday" class="all-input" value=<%= birthday %>>
                    </div>
                    <div class="one_pref">
                        <div class="now">
                            <h3>Theme :</h3>
                            <p class="theme_mod">
                                <% if(theme == 0) { %>
                                    Light
                                <% } else { %>
                                    Dark
                                <% } %>
                            </p>
                        </div>
                        <label class="switch">
                            <input type="checkbox" name="theme" class="theme-switcher" <%= checkbox %>>
                            <span></span>
                        </label>
                    </div>
                    <div class="one_pref">
                        <div class="now">
                            <h3>Password :</h3>
                        </div>
                        <div class="inputs">
                            <input type="password" name="new_password" class="all-input" placeholder="new password">
                        </div>
                    </div>
                    <div class="one_pref">
                        <p>Enter your password before changing</p>
                        <input type="password" name="password" class="all-input" placeholder="password" required>
                    </div>
                    <div class="button_change">
                        <button type="submit">Apply Changes</button>
                    </div>
                </form>
            </div>
            <hr>
            <div class="delete-account">
                <h3>Delete your account.</h3>
                <br>
                <div class="button_delete">DELETE</div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="pp_form_popup">
            <h1>Change profile image</h1>
            <div class="pp">
                <img src='profil-default.png' alt="profile" class="pp_img">
            </div>
            <div class="file">
                <form action="/upload_pp" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file_upload" required>
                    <button type="submit">Change</button>
                </form>
            </div>
            <div class="close">
                <div class="circle_close"><i class='bx bx-x'></i></div>
            </div>
        </div>
    </div>
    <div class="overlay_delete">
        <div class="delete_form_popup">
            <h1>⚠️ Delete your account</h1>
            <div class="secu">
                <form action="/delete-account" method="post">
                    <p>Please enter your password :</p>
                    <input type="password" name="password_to_delete" placeholder="Your password">
                    <br><br>
                    <p>Please type "<%= name %>/<%= email %>" :</p>
                    <input type="text" name="verify_char">
                    <br><br>
                    <p>Warning ⚠️ : this action is definitive</p>
                    <button type="submit">Delete</button>
                </form>
            </div>
            <div class="close">
                <div class="circle_close_delete"><i class='bx bx-x'></i></div>
            </div>
        </div>
    </div>
    <script src="user-preferences.js"></script>
</body>
</html>