<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untilted.txt | Preferences</title>
    <link rel="icon" href="Untilted_logo.ico">

    <link rel="stylesheet" href="user-preferences.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <a href="/home" class="QUIT"><i class='bx bx-left-arrow-circle'></i></a>
        <div class="preferences">
            <h1 class="UserName"><%= name %></h1>
            <div class="profile">
                <button class="change_profil_img">
                    <div class="pp">
                        <p class="pp-status"><%= pp_status %></p>
                        <img src="profil-default.png" alt="profile" class="pp_img">
                    </div>
                    <div class="change_photo_overlay">
                        <i class='bx bxs-camera-plus'></i>
                    </div>
                </button>
            </div>
            <hr>
            <div class="other_pref">
                <form action="" method="POST">
                    <div class="one_pref">
                        <div class="now">
                            <h3>Birthday :</h3>
                            <p><%= birthday %></p>
                        </div>
                        <input type="date" name="birthday" value=<%= birthday %>>
                    </div>
                    <div class="one_pref">
                        <div class="now">
                            <h3>Theme :</h3>
                            <p></p>
                        </div>
                        <label class="switch">
                            <input type="checkbox" name="theme" class="theme-switcher" <%= checkbox %>>
                            <span></span>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="pp_form_popup">
            <h1>Change profile image</h1>
            <div class="pp">
                <img src='profil-default.png' alt="profile" class="pp_img">
            </div>
            <div class="file">
                <form action="/upload_pp" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file_upload" required>
                    <button type="submit">Change</button>
                </form>
            </div>
            <div class="close">
                <div class="circle_close"><i class='bx bx-x'></i></div>
            </div>
        </div>
    </div>
    <script src="user-preferences.js"></script>
</body>
</html>